# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.emacs.d/eshell/history
.emacs.d/eshell/lastdir
.emacs.d/elpa/window-numbering-20150228.1247/window-numbering-autoloads.el
.emacs.d/elpa/window-numbering-20150228.1247/window-numbering-autoloads.el~
.emacs.d/elpa/window-numbering-20150228.1247/window-numbering-pkg.el
.emacs.d/elpa/window-numbering-20150228.1247/window-numbering-pkg.elc
.emacs.d/elpa/window-numbering-20150228.1247/window-numbering.el
.emacs.d/elpa/window-numbering-20150228.1247/window-numbering.elc
.emacs.d/elpa/emamux-readme.txt
.emacs.d/elpa/magit-readme.txt
.emacs.d/elpa/undo-tree-20140509.522/undo-tree-autoloads.el
.emacs.d/elpa/undo-tree-20140509.522/undo-tree-pkg.el
.emacs.d/elpa/undo-tree-20140509.522/undo-tree-pkg.elc
.emacs.d/elpa/undo-tree-20140509.522/undo-tree.el
.emacs.d/elpa/undo-tree-20140509.522/undo-tree.elc
.emacs.d/elpa/swiper-20160617.30/swiper-autoloads.el
.emacs.d/elpa/swiper-20160617.30/swiper-autoloads.el~
.emacs.d/elpa/swiper-20160617.30/swiper-pkg.el
.emacs.d/elpa/swiper-20160617.30/swiper-pkg.elc
.emacs.d/elpa/swiper-20160617.30/swiper.el
.emacs.d/elpa/swiper-20160617.30/swiper.elc
.emacs.d/var/pcache/ergoemacs-mode-24-3-1-i386-mingw-nt6-1-7601
.emacs.d/elpa/smartparens-20160619.322/smartparens-autoloads.el
.emacs.d/elpa/smartparens-20160619.322/smartparens-autoloads.el~
.emacs.d/elpa/smartparens-20160619.322/smartparens-config.el
.emacs.d/elpa/smartparens-20160619.322/smartparens-config.elc
.emacs.d/elpa/smartparens-20160619.322/smartparens-haskell.el
.emacs.d/elpa/smartparens-20160619.322/smartparens-haskell.elc
.emacs.d/elpa/smartparens-20160619.322/smartparens-html.el
.emacs.d/elpa/smartparens-20160619.322/smartparens-html.elc
.emacs.d/elpa/smartparens-20160619.322/smartparens-latex.el
.emacs.d/elpa/smartparens-20160619.322/smartparens-latex.elc
.emacs.d/elpa/smartparens-20160619.322/smartparens-lua.el
.emacs.d/elpa/smartparens-20160619.322/smartparens-lua.elc
.emacs.d/elpa/smartparens-20160619.322/smartparens-pkg.el
.emacs.d/elpa/smartparens-20160619.322/smartparens-python.el
.emacs.d/elpa/smartparens-20160619.322/smartparens-python.elc
.emacs.d/elpa/smartparens-20160619.322/smartparens-racket.el
.emacs.d/elpa/smartparens-20160619.322/smartparens-racket.elc
.emacs.d/elpa/smartparens-20160619.322/smartparens-ruby.el
.emacs.d/elpa/smartparens-20160619.322/smartparens-ruby.elc
.emacs.d/elpa/smartparens-20160619.322/smartparens-rust.el
.emacs.d/elpa/smartparens-20160619.322/smartparens-rust.elc
.emacs.d/elpa/smartparens-20160619.322/smartparens-scala.el
.emacs.d/elpa/smartparens-20160619.322/smartparens-scala.elc
.emacs.d/elpa/smartparens-20160619.322/smartparens.el
.emacs.d/elpa/smartparens-20160619.322/smartparens.elc
.emacs.d/elpa/popwin-20150315.600/popwin-autoloads.el
.emacs.d/elpa/popwin-20150315.600/popwin-autoloads.el~
.emacs.d/elpa/popwin-20150315.600/popwin-pkg.el
.emacs.d/elpa/popwin-20150315.600/popwin-pkg.elc
.emacs.d/elpa/popwin-20150315.600/popwin.el
.emacs.d/elpa/popwin-20150315.600/popwin.elc
.emacs.d/elpa/persistent-soft-20150223.1053/persistent-soft-autoloads.el
.emacs.d/elpa/persistent-soft-20150223.1053/persistent-soft-pkg.el
.emacs.d/elpa/persistent-soft-20150223.1053/persistent-soft-pkg.elc
.emacs.d/elpa/persistent-soft-20150223.1053/persistent-soft.el
.emacs.d/elpa/persistent-soft-20150223.1053/persistent-soft.elc
.emacs.d/auto-save-list/.saves-7376-ROOT-PC~
.emacs.d/elpa/archives/gnu/archive-contents
.emacs.d/elpa/archives/gnu/archive-contents~
.emacs.d/elpa/archives/melpa-stable/archive-contents
.emacs.d/elpa/archives/melpa/archive-contents
.emacs.d/elpa/archives/melpa/archive-contents~
.emacs.d/elpa/color-theme-20080305.34/themes/color-theme-example.el
.emacs.d/elpa/color-theme-20080305.34/themes/color-theme-example.elc
.emacs.d/elpa/color-theme-20080305.34/themes/color-theme-library.el
.emacs.d/elpa/color-theme-20080305.34/themes/color-theme-library.elc
.emacs.d/elpa/color-theme-20080305.34/color-theme-autoloads.el
.emacs.d/elpa/color-theme-20080305.34/color-theme-autoloads.el~
.emacs.d/elpa/color-theme-20080305.34/color-theme-pkg.el
.emacs.d/elpa/color-theme-20080305.34/color-theme.el
.emacs.d/elpa/color-theme-20080305.34/color-theme.elc
.emacs.d/elpa/company-20160617.1540/company-abbrev.el
.emacs.d/elpa/company-20160617.1540/company-abbrev.elc
.emacs.d/elpa/company-20160617.1540/company-autoloads.el
.emacs.d/elpa/company-20160617.1540/company-autoloads.el~
.emacs.d/elpa/company-20160617.1540/company-bbdb.el
.emacs.d/elpa/company-20160617.1540/company-bbdb.elc
.emacs.d/elpa/company-20160617.1540/company-capf.el
.emacs.d/elpa/company-20160617.1540/company-capf.elc
.emacs.d/elpa/company-20160617.1540/company-clang.el
.emacs.d/elpa/company-20160617.1540/company-clang.elc
.emacs.d/elpa/company-20160617.1540/company-cmake.el
.emacs.d/elpa/company-20160617.1540/company-cmake.elc
.emacs.d/elpa/company-20160617.1540/company-css.el
.emacs.d/elpa/company-20160617.1540/company-css.elc
.emacs.d/elpa/company-20160617.1540/company-dabbrev-code.el
.emacs.d/elpa/company-20160617.1540/company-dabbrev-code.elc
.emacs.d/elpa/company-20160617.1540/company-dabbrev.el
.emacs.d/elpa/company-20160617.1540/company-dabbrev.elc
.emacs.d/elpa/company-20160617.1540/company-eclim.el
.emacs.d/elpa/company-20160617.1540/company-eclim.elc
.emacs.d/elpa/company-20160617.1540/company-elisp.el
.emacs.d/elpa/company-20160617.1540/company-elisp.elc
.emacs.d/elpa/company-20160617.1540/company-etags.el
.emacs.d/elpa/company-20160617.1540/company-etags.elc
.emacs.d/elpa/company-20160617.1540/company-files.el
.emacs.d/elpa/company-20160617.1540/company-files.elc
.emacs.d/elpa/company-20160617.1540/company-gtags.el
.emacs.d/elpa/company-20160617.1540/company-gtags.elc
.emacs.d/elpa/company-20160617.1540/company-ispell.el
.emacs.d/elpa/company-20160617.1540/company-ispell.elc
.emacs.d/elpa/company-20160617.1540/company-keywords.el
.emacs.d/elpa/company-20160617.1540/company-keywords.elc
.emacs.d/elpa/company-20160617.1540/company-nxml.el
.emacs.d/elpa/company-20160617.1540/company-nxml.elc
.emacs.d/elpa/company-20160617.1540/company-oddmuse.el
.emacs.d/elpa/company-20160617.1540/company-oddmuse.elc
.emacs.d/elpa/company-20160617.1540/company-pkg.el
.emacs.d/elpa/company-20160617.1540/company-semantic.el
.emacs.d/elpa/company-20160617.1540/company-semantic.elc
.emacs.d/elpa/company-20160617.1540/company-template.el
.emacs.d/elpa/company-20160617.1540/company-template.elc
.emacs.d/elpa/company-20160617.1540/company-tempo.el
.emacs.d/elpa/company-20160617.1540/company-tempo.elc
.emacs.d/elpa/company-20160617.1540/company-xcode.el
.emacs.d/elpa/company-20160617.1540/company-xcode.elc
.emacs.d/elpa/company-20160617.1540/company-yasnippet.el
.emacs.d/elpa/company-20160617.1540/company-yasnippet.elc
.emacs.d/elpa/company-20160617.1540/company.el
.emacs.d/elpa/company-20160617.1540/company.elc
.emacs.d/elpa/counsel-20160617.27/counsel-autoloads.el
.emacs.d/elpa/counsel-20160617.27/counsel-autoloads.el~
.emacs.d/elpa/counsel-20160617.27/counsel-pkg.el
.emacs.d/elpa/counsel-20160617.27/counsel-pkg.elc
.emacs.d/elpa/counsel-20160617.27/counsel.el
.emacs.d/elpa/counsel-20160617.27/counsel.elc
.emacs.d/elpa/dash-20160619.611/dash-autoloads.el
.emacs.d/elpa/dash-20160619.611/dash-autoloads.el~
.emacs.d/elpa/dash-20160619.611/dash-pkg.el
.emacs.d/elpa/dash-20160619.611/dash-pkg.elc
.emacs.d/elpa/dash-20160619.611/dash.el
.emacs.d/elpa/dash-20160619.611/dash.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ahk-us.ahk
.emacs.d/elpa/ergoemacs-mode-20160526.2159/dir
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-advice.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-advice.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-command-loop.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-command-loop.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-component.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-component.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-debug.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-debug.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-functions.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-functions.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-global-24-3-1-i386-mingw-nt6-1-7601.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-key-description.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-key-description.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-layouts.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-layouts.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-lib.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-lib.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-macros.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-macros.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-map-properties.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-map-properties.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-map.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-map.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-mapkeymap.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-mapkeymap.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-mode-autoloads.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-mode-autoloads.el~
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-mode-pkg.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-mode.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-mode.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-mode.info
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-score.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-score.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-test.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-test.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-theme-engine.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-theme-engine.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-themes.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-themes.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-translate.el
.emacs.d/elpa/ergoemacs-mode-20160526.2159/ergoemacs-translate.elc
.emacs.d/elpa/ergoemacs-mode-20160526.2159/kbd-ergo.svg
.emacs.d/elpa/ergoemacs-mode-20160526.2159/kbd.svg
.emacs.d/elpa/ergoemacs-mode-20160526.2159/os_x_qwerty.dict.txt
.emacs.d/elpa/exec-path-from-shell-20160112.2246/exec-path-from-shell-autoloads.el
.emacs.d/elpa/exec-path-from-shell-20160112.2246/exec-path-from-shell-autoloads.el~
.emacs.d/elpa/exec-path-from-shell-20160112.2246/exec-path-from-shell-pkg.el
.emacs.d/elpa/exec-path-from-shell-20160112.2246/exec-path-from-shell-pkg.elc
.emacs.d/elpa/exec-path-from-shell-20160112.2246/exec-path-from-shell.el
.emacs.d/elpa/exec-path-from-shell-20160112.2246/exec-path-from-shell.elc
.emacs.d/elpa/highlight-indentation-20150307.208/highlight-indentation-autoloads.el
.emacs.d/elpa/highlight-indentation-20150307.208/highlight-indentation-autoloads.el~
.emacs.d/elpa/highlight-indentation-20150307.208/highlight-indentation-pkg.el
.emacs.d/elpa/highlight-indentation-20150307.208/highlight-indentation-pkg.elc
.emacs.d/elpa/highlight-indentation-20150307.208/highlight-indentation.el
.emacs.d/elpa/highlight-indentation-20150307.208/highlight-indentation.elc
.emacs.d/elpa/hungry-delete-20151203.1314/hungry-delete-autoloads.el
.emacs.d/elpa/hungry-delete-20151203.1314/hungry-delete-autoloads.el~
.emacs.d/elpa/hungry-delete-20151203.1314/hungry-delete-pkg.el
.emacs.d/elpa/hungry-delete-20151203.1314/hungry-delete-pkg.elc
.emacs.d/elpa/hungry-delete-20151203.1314/hungry-delete.el
.emacs.d/elpa/hungry-delete-20151203.1314/hungry-delete.elc
.emacs.d/elpa/indent-guide-20160606.2318/indent-guide-autoloads.el
.emacs.d/elpa/indent-guide-20160606.2318/indent-guide-autoloads.el~
.emacs.d/elpa/indent-guide-20160606.2318/indent-guide-pkg.el
.emacs.d/elpa/indent-guide-20160606.2318/indent-guide-pkg.elc
.emacs.d/elpa/indent-guide-20160606.2318/indent-guide.el
.emacs.d/elpa/indent-guide-20160606.2318/indent-guide.elc
.emacs.d/elpa/ivy-20160617.30/colir.el
.emacs.d/elpa/ivy-20160617.30/colir.elc
.emacs.d/elpa/ivy-20160617.30/dir
.emacs.d/elpa/ivy-20160617.30/ivy-autoloads.el
.emacs.d/elpa/ivy-20160617.30/ivy-autoloads.el~
.emacs.d/elpa/ivy-20160617.30/ivy-help.org
.emacs.d/elpa/ivy-20160617.30/ivy-pkg.el
.emacs.d/elpa/ivy-20160617.30/ivy.el
.emacs.d/elpa/ivy-20160617.30/ivy.elc
.emacs.d/elpa/ivy-20160617.30/ivy.info
.emacs.d/elpa/js2-mode-20160610.1706/js2-imenu-extras.el
.emacs.d/elpa/js2-mode-20160610.1706/js2-imenu-extras.elc
.emacs.d/elpa/js2-mode-20160610.1706/js2-mode-autoloads.el
.emacs.d/elpa/js2-mode-20160610.1706/js2-mode-autoloads.el~
.emacs.d/elpa/js2-mode-20160610.1706/js2-mode-pkg.el
.emacs.d/elpa/js2-mode-20160610.1706/js2-mode.el
.emacs.d/elpa/js2-mode-20160610.1706/js2-mode.elc
.emacs.d/elpa/js2-mode-20160610.1706/js2-old-indent.el
.emacs.d/elpa/js2-mode-20160610.1706/js2-old-indent.elc
.emacs.d/elpa/list-utils-20160414.702/list-utils-autoloads.el
.emacs.d/elpa/list-utils-20160414.702/list-utils-pkg.el
.emacs.d/elpa/list-utils-20160414.702/list-utils-pkg.elc
.emacs.d/elpa/list-utils-20160414.702/list-utils.el
.emacs.d/elpa/list-utils-20160414.702/list-utils.elc
.emacs.d/elpa/monokai-theme-20160515.1404/monokai-theme-autoloads.el
.emacs.d/elpa/monokai-theme-20160515.1404/monokai-theme-autoloads.el~
.emacs.d/elpa/monokai-theme-20160515.1404/monokai-theme-pkg.el
.emacs.d/elpa/monokai-theme-20160515.1404/monokai-theme-pkg.elc
.emacs.d/elpa/monokai-theme-20160515.1404/monokai-theme.el
.emacs.d/elpa/nodejs-repl-20151229.603/nodejs-repl-autoloads.el
.emacs.d/elpa/nodejs-repl-20151229.603/nodejs-repl-autoloads.el~
.emacs.d/elpa/nodejs-repl-20151229.603/nodejs-repl-pkg.el
.emacs.d/elpa/nodejs-repl-20151229.603/nodejs-repl-pkg.elc
.emacs.d/elpa/nodejs-repl-20151229.603/nodejs-repl.el
.emacs.d/elpa/nodejs-repl-20151229.603/nodejs-repl.elc
.emacs.d/elpa/pcache-20151109.639/pcache-autoloads.el
.emacs.d/elpa/pcache-20151109.639/pcache-pkg.el
.emacs.d/elpa/pcache-20151109.639/pcache-pkg.elc
.emacs.d/elpa/pcache-20151109.639/pcache.el
.emacs.d/elpa/pcache-20151109.639/pcache.elc
.recentf
